:root {
	--primary-background: #f4544c;
	--primary-background: BROWN;
	--primary-background: rgb(182, 62, 62);
	--secondary-bckground: rgb(255, 240, 240);
    --text-color-primary: #7A7A7A;
    --text-color-primary: #284354;
    --text-color-primary: black;
	--secondary-text: rgb(212, 212, 120);
	
}

*{
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Raleway", sans-serif;
	color: #3f3f5a;
	color: #fff;
	color: var(--text-color-primary);
}

/* Utilities classes */

.pri-color {
	color: var(--primary-background);
}
	
.bold {
	font-weight: bold;
}

.mt-sm {
	margin-top: 40px !important;
}


.mb-sm {
	margin-bottom: 40px !important;
}

img {
	border: 5px solid rgb(240, 238, 238);
	border: 5px solid rgb(235, 232, 232);
	border-radius: 4px;
	box-shadow: 2px 2px 4px black;
	/* padding: 2px; */
	height: auto;
	max-width: 100%;
	/* display: block; makes it stick */
	/* vertical-align: middle; */
	/* overflow-clip-margin: content-box; */
	/* overflow: clip; */

}


video {
	border: 3px dotted #ddd;
	border: 5px solid rgb(240, 238, 238);
	border: 5px solid rgb(235, 232, 232);
	border-radius: 4px;
	box-shadow: 2px 2px 4px black;
	height: auto;
	max-width: 100%;
}



.section {
	/* margin: 3% 6% !important ; */
	text-align: center;
	justify-content: center;
	justify-items: center;
	padding: 5% 7%;
}


.sub-section {
	/* margin: 3% 6% !important ; */
	text-align: center;
	justify-content: center;
	justify-items: center;
	padding: 2% 7%;
}

.intro-section {
	background-color: var(--primary-background);
	color: #fff;
}


.audio-2-section {
	/* color: var(--text-color-primary); */
}


.jawwaad-section {
	
}

.txt-center {
	text-align: center;
	justify-items: center;
}

.sec-color {
	color: rgb(212, 212, 120);
}

.red-bg-color {
	color: #f4544c;
}

.font-xl {
	font-weight: 900;
	font-size: 150%;
}

.font-l {
	font-weight: 700;
	font-size: 120%;
}


.font-cursive {
	font-family: 'Anton', cursive;
}

.card-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		/* height: 100vh; Adjust the height based on your requirements */
	  }

.card {
	border: 3px solid rgb(146, 146, 85);
	background-color: rgb(212, 212, 120);
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
	color: #faebeb;
	color: #fdf8f8;
	border-radius: 4px;
	align-items: center;
	text-align: center;
	padding: 20px 14px ;
	width: 300px;
}


.card-2 {
	/* border: 3px solid rgb(146, 146, 85); */
	background-color: rgb(212, 212, 120);
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
	color: #faebeb;
	color: #fdf8f8;
	/* border-radius: 4px; */
	align-items: center;
	text-align: center;
	padding: 20px 14px ;
	/* width: 90% */
	/* height: auto; */
	/* max-width: 100%; */
}

.audio-2 {
	justify-items: center;
	justify-content: center;
	margin-right: 20%;
}


audio::-webkit-media-controls-panel {
	background-color: rgb(212, 212, 120);
}

.audio-two::-webkit-media-controls-panel {
	background-color: var(--primary-background)
}

.shadow-text {
	/* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
	text-shadow: 2px 2px 4px black;
	/* text-shadow: 2px 2px 4px white; */
	/* text-shadow: 2px 2px 4px black; */
	color: rgb(49, 49, 49);
	color: var(--primary-background);
	color: rgb(92, 24, 24);
	color: #fff;
	font-weight: bold;
}

.author {
	font-style: italic;
	color: rgb(252, 251, 251);
	color: gray;
	/* color: rgb(212, 212, 120); */
	font-size: small;
	/* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
	font-size: smaller;
}

.gray {
	color: gray;
}

.stroke-black {
	-webkit-text-stroke: 0.2px black;
}
.shadow {
	text-shadow: 2px 2px 4px black;
	/* text-shadow: 2px 2px 4px white; */
}


.shadow-light {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .4)
	/* text-shadow: 2px 2px 4px white; */
}

.italic {
	font-style: italic;
}


.white-dark {
	color: #f0efef;
	/* color: #d6d5d5; */
}

.shares-section {
	background-color: var(--secondary-bckground);
	background-color: rgb(245, 243, 243);
	color: var(--primary-background);
}

.p-text-block {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 20px;
	text-align: left;
	line-height: 2rem;
}

